
1. Load the dataset using pandas
2. Extract data fromYearsExperience column is a variable named X
3. Extract data from salary column is a variable named Y
4. Divide the dataset into two parts for training and testing in 66% and 33% proportion
5. Create and train LinearRegression Model on training set
6. Make predictions based on the testing set using the trained model
7. Check the performance by calculating the r2 score of the model

In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

1. Load the dataset using pandas

In [2]:
df=pd.read_csv(r"F:\Intellipaat Assignments\ASSIGNMENT-1-8211-LINEAR-REGRESSION-04JUN2022204822\data.csv")
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
df.shape

(30, 2)

2. Extract data fromYearsExperience column is a variable named X
3. Extract data from salary column is a variable named Y

In [4]:
X=df.iloc[:,:-1]
y=df.iloc[:,1:]

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=0)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((20, 1), (10, 1), (20, 1), (10, 1))

In [6]:
Lr=LinearRegression()

In [7]:
Lr.fit(X_train,y_train)

LinearRegression()

In [8]:
y_pred=Lr.predict(X_test)
y_pred= pd.DataFrame(y_pred)
y_pred

               0
0   40835.105909
1  123079.399408
2   65134.556261
3   63265.367772
4  115602.645454
5  108125.891499
6  116537.239698
7   64199.962017
8   76349.687193
9  100649.137545

In [9]:
r2_score(y_pred,y_test)

0.9716987073632184

In [10]:
Lr.coef_

array([[9345.94244312]])