# Module 1: Introduction to Python Assignment - 1
Problem Statement: Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college to take an introductory session on Python.

# 1. Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).

In [2]:
l = [1, 2, 3, 4, 5,6,7,8,9,10]
[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 2. Write a Function to check if year number is a leap year.

In [4]:
def CheckLeap(Year):  
  # Checking if the given year is leap year  
  if((Year % 400 == 0) or  
     (Year % 100 != 0) and  
     (Year % 4 == 0)):   
    print("Given Year is a leap Year");  
  # Else it is not a leap year  
  else:  
    print ("Given Year is not a leap Year")  
# Taking an input year from user  
Year = int(input("Enter the number: "))  
# Printing result  
CheckLeap(Year)

Enter the number: 2020
Given Year is a leap Year

# 3. Write a Function to take an array and return another array that contains the members of first array that are even.

In [5]:
def findEvenNo(lst): 
    ans = [] 
    for i in lst: 
        if(i%2 == 0): 
            ans.append(i) 
    return ans 
             
if __name__ == "__main__": 
    
    lst = [] 
    n = int(input("Enter length of list:")) 
    i = 0 
    while(i < n): 
        try: 
            lst.append(int(input("Enter value:"))) 
            i+=1 
        except Exception as ex: 
            print("Error:",ex) 
    print("Even Number List is:",findEvenNo(lst))

Enter length of list:2
Enter value:3
Enter value:4
Even Number List is: [4]

# 4. Write a Function that takes 2 arrays and prints the members of first array that are present of second array. (HINT: use Membership Comprehension)

In [6]:
def member(arr1,arr2):
    for i in arr1:
        if i in arr2:
            print(i)

member([1,2,3,4,7,6],[4,0,8,2,7,8])

2
4
7

# Module 1 - Introduction to Python Assignment - 2

# Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college
to take an introductory session on Python.

1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”

In [11]:
t1 = (10,20,30)
t2 = (40,50,60)

In [12]:
t_combine = t1 + t2

In [20]:
t_combine

(10, 20, 30, 40, 50, 60)

In [15]:
t_combine * 3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [22]:
print(t_combine[2])

30

In [24]:
print(t_combine[:3])

(10, 20, 30)

In [25]:
print(t_combine[3:])

(40, 50, 60)

2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1,2,3
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False

In [30]:
my_list = [(1,2,3),("a","b","c"),(True,False)]

In [31]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – [“sparta”,123]+ to my_list

In [36]:
new_tuple = (1,'a',True)

In [38]:
my_list += new_tuple

In [39]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), 1, 'a', True]

In [41]:
new_list = ["sparta",123]

In [44]:
 my_list = my_list + new_list

In [45]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), 1, 'a', True, 'sparta', 123]

4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’

In [51]:
fruit = {"Fruit" : {"Apple","Banana","Mango","Guava"},"Cost":{(85,54,120,70)}}

In [52]:
fruit

{'Fruit': {'Apple', 'Banana', 'Guava', 'Mango'}, 'Cost': {(85, 54, 120, 70)}}

In [60]:
print(fruit["Fruit"])

{'Apple', 'Guava', 'Banana', 'Mango'}

In [61]:
print(fruit["Cost"])

{(85, 54, 120, 70)}

In [69]:
print(fruit.keys())

dict_keys(['Fruit', 'Cost'])

In [70]:
print(fruit.values())

dict_values([{'Apple', 'Guava', 'Banana', 'Mango'}, {(85, 54, 120, 70)}])

5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [75]:
my_set = {1,1,"a","a","True","True"}

In [76]:
my_set

{1, 'True', 'a'}

# Conditional Statements Assignment

# 1. Take three user inputs and print the greatest number from those inputs using if-else condition. Edge cases if any, should also be handled.

In [77]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 12
Enter second number: 10
Enter third number: 13
The largest number is 13.0

# If-Else Assignment

# 1. Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater using if condition. Think about all the edge cases, and print the statements accordingly.

In [78]:
num1 = 10
num2 = 20
if (num1 >= num2):
    largest = num1
else:
    largest = num2
print("The largest is ", largest)

The largest is  20