In [1]:
import pandas as pd

In [8]:
churn = pd.read_csv('/content/customer_churn.csv(correct).csv')

In [9]:
churn

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

In [ ]:
churn.iloc[:,[1,2,3]]

      gender  SeniorCitizen Partner
0     Female              0     Yes
1       Male              0      No
2       Male              0      No
3       Male              0      No
4     Female              0      No
...      ...            ...     ...
7038    Male              0     Yes
7039  Female              0     Yes
7040  Female              0     Yes
7041    Male              1     Yes
7042    Male              0      No

[7043 rows x 3 columns]

In [ ]:
churn.loc[:,['customerID','gender','Partner']]

      customerID  gender Partner
0     7590-VHVEG  Female     Yes
1     5575-GNVDE    Male      No
2     3668-QPYBK    Male      No
3     7795-CFOCW    Male      No
4     9237-HQITU  Female      No
...          ...     ...     ...
7038  6840-RESVB    Male     Yes
7039  2234-XADUH  Female     Yes
7040  4801-JZAZL  Female     Yes
7041  8361-LTMKD    Male     Yes
7042  3186-AJIEK    Male      No

[7043 rows x 3 columns]

In [ ]:
newCols = churn.iloc[:,[2,6,8,19]]

In [ ]:
newCols

      SeniorCitizen PhoneService InternetService TotalCharges
0                 0           No             DSL        29.85
1                 0          Yes             DSL       1889.5
2                 0          Yes             DSL       108.15
3                 0           No             DSL      1840.75
4                 0          Yes     Fiber optic       151.65
...             ...          ...             ...          ...
7038              0          Yes             DSL       1990.5
7039              0          Yes     Fiber optic       7362.9
7040              0           No             DSL       346.45
7041              1          Yes     Fiber optic        306.6
7042              0          Yes     Fiber optic       6844.5

[7043 rows x 4 columns]

In [ ]:
churn.iloc[200:1001,:]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
200   9323-HGFWY  Female              0  ...         101.90      2681.15     No
201   8544-GOQSH  Female              0  ...          80.05       1112.3     No
202   3363-DTIVD    Male              0  ...         105.55       7405.5     No
203   7018-WBJNK    Male              0  ...          78.30      1033.95     No
204   9142-KZXOP    Male              0  ...          68.85      2958.95     No
...          ...     ...            ...  ...            ...          ...    ...
996   6641-XRPSU  Female              0  ...          70.00       2416.1    Yes
997   1374-DMZUI  Female              1  ...          94.30       424.45    Yes
998   2545-LXYVJ    Male              0  ...          20.70       1492.1     No
999   3234-VKACU    Male              0  ...          70.30        132.4     No
1000  8357-EQXFO  Female              0  ...          95.35        660.9    Yes

[801 rows x 21 columns]

In [ ]:
churn.iloc[20:200,2:16]

     SeniorCitizen Partner  ...      StreamingMovies        Contract
20               1      No  ...                  Yes  Month-to-month
21               0     Yes  ...  No internet service        One year
22               0      No  ...  No internet service  Month-to-month
23               0     Yes  ...                   No        Two year
24               0     Yes  ...                   No  Month-to-month
..             ...     ...  ...                  ...             ...
195              0     Yes  ...                   No  Month-to-month
196              0     Yes  ...  No internet service        Two year
197              0      No  ...                  Yes  Month-to-month
198              0     Yes  ...                  Yes        Two year
199              0      No  ...  No internet service  Month-to-month

[180 rows x 14 columns]

In [ ]:
churn.iloc[0:101:2,0:7:2]

     customerID  SeniorCitizen Dependents PhoneService
0    7590-VHVEG              0         No           No
2    3668-QPYBK              0         No          Yes
4    9237-HQITU              0         No          Yes
6    1452-KIOVK              0        Yes          Yes
8    7892-POOKP              0         No          Yes
10   9763-GRSKD              0        Yes          Yes
12   8091-TTVAX              0         No          Yes
14   5129-JLPIS              0         No          Yes
16   8191-XWSZG              0         No          Yes
18   4190-MFLUW              0        Yes          Yes
20   8779-QRDMV              1         No           No
22   1066-JKSGK              0         No          Yes
24   6322-HRPFA              0        Yes          Yes
26   6467-CHFZW              0        Yes          Yes
28   5248-YGIJN              0         No          Yes
30   3841-NFECX              1         No          Yes
32   6827-IEAUQ              0        Yes          Yes
34   3413-BMNZE              1         No          Yes
36   6047-YHPVI              0         No          Yes
38   5380-WJKOV              0         No          Yes
40   8865-TNMNX              0        Yes          Yes
42   9867-JCZSP              0        Yes          Yes
44   4080-IIARD              0         No          Yes
46   5948-UJZLF              0         No          Yes
48   7639-LIAYI              0         No          Yes
50   8012-SOUDQ              1         No          Yes
52   6575-SUVOI              1         No          Yes
54   4667-QONEA              1        Yes          Yes
56   8769-KKTPH              0        Yes          Yes
58   3957-SQXML              0        Yes          Yes
60   0434-CSFON              0         No          Yes
62   0526-SXDJP              0         No           No
64   5698-BQJOH              0         No          Yes
66   8627-ZYGSZ              0         No          Yes
68   3170-NMYVV              0        Yes          Yes
70   2273-QCKXA              0         No          Yes
72   1891-QRQSA              1        Yes          Yes
74   5630-AHZIL              0        Yes          Yes
76   6416-JNVRK              0         No          Yes
78   0191-ZHSKZ              1         No          Yes
80   5919-TMRGD              0        Yes          Yes
82   9191-MYQKX              0         No          Yes
84   0318-ZOPWS              0         No          Yes
86   4808-YNLEU              0         No          Yes
88   2796-NNUFI              0        Yes          Yes
90   4767-HZZHQ              0        Yes          Yes
92   7233-PAHHL              0        Yes          Yes
94   9848-JQJTX              0         No          Yes
96   9803-FTJCG              0        Yes          Yes
98   3212-KXOCR              0         No          Yes
100  6380-ARCEH              0         No          Yes

In [ ]:
churn.head(100)

    customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0   7590-VHVEG  Female              0  ...          29.85        29.85     No
1   5575-GNVDE    Male              0  ...          56.95       1889.5     No
2   3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3   7795-CFOCW    Male              0  ...          42.30      1840.75     No
4   9237-HQITU  Female              0  ...          70.70       151.65    Yes
..         ...     ...            ...  ...            ...          ...    ...
95  8637-XJIVR  Female              0  ...          78.95       927.35    Yes
96  9803-FTJCG    Male              0  ...          66.85       4748.7     No
97  0278-YXOOG    Male              0  ...          21.05       113.85    Yes
98  3212-KXOCR    Male              0  ...          21.00       1107.2     No
99  4598-XLKNJ  Female              1  ...          98.50       2514.5    Yes

[100 rows x 21 columns]

In [ ]:
churn.iloc[0:100,:]

    customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0   7590-VHVEG  Female              0  ...          29.85        29.85     No
1   5575-GNVDE    Male              0  ...          56.95       1889.5     No
2   3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3   7795-CFOCW    Male              0  ...          42.30      1840.75     No
4   9237-HQITU  Female              0  ...          70.70       151.65    Yes
..         ...     ...            ...  ...            ...          ...    ...
95  8637-XJIVR  Female              0  ...          78.95       927.35    Yes
96  9803-FTJCG    Male              0  ...          66.85       4748.7     No
97  0278-YXOOG    Male              0  ...          21.05       113.85    Yes
98  3212-KXOCR    Male              0  ...          21.00       1107.2     No
99  4598-XLKNJ  Female              1  ...          98.50       2514.5    Yes

[100 rows x 21 columns]

In [ ]:
churn.tail(10)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7033  9767-FFLEM    Male              0  ...          69.50      2625.25     No
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7035  8456-QDAVC    Male              0  ...          78.70       1495.1     No
7036  7750-EYXWZ  Female              0  ...          60.65        743.3     No
7037  2569-WGERO  Female              0  ...          21.15       1419.4     No
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[10 rows x 21 columns]

In [ ]:
churn.tail(1)

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
7042  3186-AJIEK   Male              0  ...         105.65       6844.5     No

[1 rows x 21 columns]

In [ ]:
churn.iloc[-1,:]

customerID                         3186-AJIEK
gender                                   Male
SeniorCitizen                               0
Partner                                    No
Dependents                                 No
tenure                                     66
PhoneService                              Yes
MultipleLines                              No
InternetService                   Fiber optic
OnlineSecurity                            Yes
OnlineBackup                               No
DeviceProtection                          Yes
TechSupport                               Yes
StreamingTV                               Yes
StreamingMovies                           Yes
Contract                             Two year
PaperlessBilling                          Yes
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                         105.65
TotalCharges                           6844.5
Churn                                      No
Name: 7042, dtype: object

In [ ]:
churn.sort_values(by=['tenure'],ascending=False)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
1672  4737-AQCPU    Male              0  ...          72.10      5016.65     No
193   9680-NIAUV  Female              0  ...         109.70       8129.3     No
4553  5914-XRFQB    Male              0  ...         115.80       8424.9     No
483   5168-MQQCA  Female              0  ...         108.50       8003.8     No
3266  0464-WJTKO  Female              0  ...          20.10      1460.85     No
...          ...     ...            ...  ...            ...          ...    ...
1082  4367-NUYAO    Male              0  ...          25.75                  No
3826  3213-VVOLG    Male              0  ...          25.35                  No
936   5709-LVOEQ  Female              0  ...          80.85                  No
6754  2775-SEFEE    Male              0  ...          61.90                  No
1340  1371-DWPAZ  Female              0  ...          56.05                  No

[7043 rows x 21 columns]

In [ ]:
churn.loc[(churn.tenure > 50) & (churn.gender == 'Female')]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
15    3655-SNQYZ  Female              0  ...         113.25      7895.15     No
16    8191-XWSZG  Female              0  ...          20.65      1022.95     No
23    3638-WEABW  Female              0  ...          59.90       3505.1     No
30    3841-NFECX  Female              1  ...          96.35      6766.95     No
35    6234-RAAPL  Female              0  ...          99.90       7251.7     No
...          ...     ...            ...  ...            ...          ...    ...
7023  1035-IPQPU  Female              1  ...         103.50       6479.4     No
7028  9281-CEDRU  Female              0  ...          64.10      4326.25     No
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7037  2569-WGERO  Female              0  ...          21.15       1419.4     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No

[1022 rows x 21 columns]

In [ ]:
churn.loc[(churn.tenure > 50) & (churn.gender == 'Female')].sort_values(by=['tenure']).head(10)

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
3176  5044-XDPYX  Female              0  ...          25.50      1281.25     No
4114  1574-DYCWE  Female              0  ...          19.95      1028.75     No
4008  0743-HRVFF  Female              0  ...          56.15      2898.95     No
3873  7340-KEFQE  Female              0  ...          34.20         1782     No
3832  4626-OZDTJ  Female              0  ...          78.65      3950.85     No
5199  7245-JMTTQ  Female              0  ...         111.50      5703.25     No
3661  1142-IHLOO  Female              0  ...          87.55       4475.9     No
3648  9419-IPPBE  Female              0  ...          90.15      4554.85     No
5389  9701-CDXHR  Female              0  ...          69.15       3649.6     No
5408  6407-GSJNL  Female              0  ...          24.95         1288     No

[10 rows x 21 columns]

In [ ]:
churn.loc[(churn['gender'] == 'Male') & (churn['SeniorCitizen'] == 0)]

      customerID gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
1     5575-GNVDE   Male              0  ...          56.95       1889.5     No
2     3668-QPYBK   Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW   Male              0  ...          42.30      1840.75     No
6     1452-KIOVK   Male              0  ...          89.10       1949.4     No
9     6388-TABGU   Male              0  ...          56.15      3487.95     No
...          ...    ...            ...  ...            ...          ...    ...
7027  0550-DCXLH   Male              0  ...          73.35       931.55     No
7033  9767-FFLEM   Male              0  ...          69.50      2625.25     No
7035  8456-QDAVC   Male              0  ...          78.70       1495.1     No
7038  6840-RESVB   Male              0  ...          84.80       1990.5     No
7042  3186-AJIEK   Male              0  ...         105.65       6844.5     No

[2981 rows x 21 columns]

In [ ]:
churn.loc[(churn['TechSupport'] == 'Yes') & (churn['Churn'] == 'No')]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
14    5129-JLPIS    Male              0  ...         105.50      2686.05     No
15    3655-SNQYZ  Female              0  ...         113.25      7895.15     No
23    3638-WEABW  Female              0  ...          59.90       3505.1     No
24    6322-HRPFA    Male              0  ...          59.60       2970.3     No
...          ...     ...            ...  ...            ...          ...    ...
7027  0550-DCXLH    Male              0  ...          73.35       931.55     No
7028  9281-CEDRU  Female              0  ...          64.10      4326.25     No
7036  7750-EYXWZ  Female              0  ...          60.65        743.3     No
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[1734 rows x 21 columns]

In [ ]:
churn.loc[(churn['Contract'] == 'Month-to-month') & (churn['Churn'] == 'Yes')]

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
5     9305-CDSKC  Female              0  ...          99.65        820.5    Yes
8     7892-POOKP  Female              0  ...         104.80      3046.05    Yes
13    0280-XJGEX    Male              0  ...         103.70       5036.3    Yes
...          ...     ...            ...  ...            ...          ...    ...
7018  1122-JWTJW    Male              0  ...          70.65        70.65    Yes
7026  8775-CEBBJ  Female              0  ...          44.20       403.35    Yes
7032  6894-LFHLY    Male              1  ...          75.75        75.75    Yes
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes

[1655 rows x 21 columns]

In [ ]:
count=0
for i in range(len(churn)):
  if((churn.loc[i,"TechSupport"] == "Yes") and (churn.loc[i,"gender"] == "Male") and (churn.loc[i,"SeniorCitizen"] == 1)):
    count += 1
print(count)

119

In [ ]:
count = 0
temp = churn.loc[(churn['TechSupport'] == 'Yes') & (churn['SeniorCitizen'] == 1) & (churn.gender == 'Male')]
len(temp)

119

In [ ]:
for i in churn.keys():
  print(i)

customerID
gender
SeniorCitizen
Partner
Dependents
tenure
PhoneService
MultipleLines
InternetService
OnlineSecurity
OnlineBackup
DeviceProtection
TechSupport
StreamingTV
StreamingMovies
Contract
PaperlessBilling
PaymentMethod
MonthlyCharges
TotalCharges
Churn

In [ ]:
x=2
y=3
temp=x
x=y
y=temp
print(x,y)

3 2

In [ ]:
x,y=2,3
x,y=y,x
print(x,y)

3 2