In [1]:
from datetime import datetime, date, timedelta
import numpy as np
import os
import pandas as pd


# In[3]:


from azureml.core import Workspace, Dataset, Datastore

print("Date of pipeline ML code run is: ", date.today())

Date of pipeline ML code run is:  2022-08-21

In [2]:
from azureml.core import Run

run = Run.get_context()

print('setting up the AML workspace')
ws = Workspace(subscription_id = '567af235-69fa-493d-abb8-e70b312cce1c', resource_group = 'Testgroup', workspace_name = 'IntellipaatDemos')
print(ws.name, ws.resource_group, ws.location, ws.subscription_id, sep = '\n')


blob_datastore_name='demostore' # Name of the datastore to workspace
container_name=os.getenv("BLOB_CONTAINER", "datafortraining") # Name of Azure blob container
account_name=os.getenv("BLOB_ACCOUNTNAME", "blobstoreintellipat") # Storage account name
account_key=os.getenv("BLOB_ACCOUNT_KEY", "/VGKViJhnvgwS9wRsUnaG4dSHJxNTFrI/E/LTCIuHGhPvepWhKE+DmF+jYgmYQ7b6zuwEd+OBFCR+AStBw6C7w==")

setting up the AML workspace
IntellipaatDemos
Testgroup
westus2
567af235-69fa-493d-abb8-e70b312cce1c

In [4]:
### Retrieving the created datastore by the name for reading the files
datastore = Datastore.get(ws, 'demostore')
print('Setting up the blobstore for Reading the input files')


# In[4]:


from azureml.core import Run

run = Run.get_context()

Setting up the blobstore for Reading the input files

In [8]:
training_data = Dataset.Tabular.from_delimited_files(path = [(datastore,"train.csv")]).to_pandas_dataframe()

In [9]:
training_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [10]:
#let's start off by dropping the coulmns we will not be needing
drop_list=['Cabin','Ticket','PassengerId']

training_data = training_data.drop(drop_list,axis=1)

In [11]:
#filling the missing Embarked values in train and test datasets
training_data.Embarked.fillna('S',inplace=True)

In [12]:
#filling the missing values in the Age column
training_data.Age.fillna(28, inplace=True)
training_data.Age.fillna(28, inplace=True)